.sales-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 좌측 정렬로 수정 */
  text-align: center;
  /* 중앙 정렬 유지 */
  margin-bottom: 20px;
  padding-left: 20px;
  /* 왼쪽으로 20px 띄우도록 수정 */

  img {
    width: 100%;
    /* 이미지 크기를 80%로 수정 */
    max-width: 400px;
    /* 이미지 최대 너비 지정 */
    height: auto;
    margin-bottom: 10px;
  }

  h4 {
    margin: 0;
    font-size: 20px;
    /* 상품명 크기를 더 크게 수정 */
  }
}

.sales-card {
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #f8f9fa;
    /* 변경할 색상을 여기에 지정하세요 */
  }
}